body {
  font-family: arial, sans-serif;
  background-image: url("background-sky.jpg");
}

h1 {
  color: #488b8f;
  font-size: 28px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgba(59, 70, 65, 0.467);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 19px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #adc2c3;
  border-radius: 8px;
  background-color: rgba(231, 232, 232, 0.487);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 10px;
}
.icon {
  margin-right: 8px;
  height: 100px;
  width: 100px;
}
.temperature {
  color: #488b8f;
  font: weight 400px;
  line-height: 1;
}

.units {
  color: #488b8f;
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.weather-temperature {
  color: #808b97;
  cursor: default;
}

.btn {
  background-color: cadetblue;
  border: cadetblue;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: black;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
