body {
  font-family: "Questrial", sans-serif;
  background-image: url("sunlight.jpg");
}

h1 {
  color: #556bad;
  font-size: 58px;
  line-height: 38px;
  margin-bottom: 5px;
}

ul {
  margin: 10;
  padding: 0;
}
li {
  list-style: none;
  color: rgba(59, 70, 65, 0.467);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 19px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #adc2c3;
  border-radius: 8px;
  background-color: rgba(231, 232, 232, 0.487);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.icon {
  margin-right: 8px;
  height: 200px;
  width: 200px;
}
.temperature {
  color: #556bad;
  font: weight 400px;
  line-height: 1;
}

.units {
  color: #556bad;
  position: relative;
  font-size: 36px;
  font-weight: 600;
}

.weather-temperature {
  color: #556bad;
  cursor: default;
  font-size: 65px;
}

.btn {
  background-color: #556bad;
  border: #556bad;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  color: #556bad;
}

.weather-forecast-temperature {
  font-size: 14px;
  color: #556bad;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.humidityWind {
  margin-top: 3px;
  position: relative;
}
#sign {
  color: azure;
  font-size: 12px;
}
